@import '~colors.css/less/_variables.less';

@album-cover-size: 300px;

.root {
  position: relative;
  height: @album-cover-size;
  width: @album-cover-size;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: @gray;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0px 0px 11px -3px @black;
}

.text {
  transform: rotate(-30deg);
  padding: 25px;
  flex: 1;
  color: @black;
  text-shadow: -1px 1px 1px rgba(255, 255, 255, 0.4);
  > p:first-child {font-size: 2em;}
  > p:last-child {font-size: 1em;}
}

.image {
  height: @album-cover-size;
  width: @album-cover-size;
}
