@import '../../node_modules/normalize.css/normalize.css';
@import '../../node_modules/colors.css/less/_variables.less';

* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  color: @black;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
}

.center-content {
  flex: 1;
}

a {
  transition: color .4s;
  color: @black;
  &:visited {
    color: @black;
  }
}
