@import '../../node_modules/colors.css/less/_variables.less';

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  color: @white;

  .btn {
    &:link,
    &:visited {
      margin-bottom: 0;
      margin-right: 5px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
