@font-face {
  font-family: 'icomoon';
  src:url('../../styles/fonts/icomoon.eot?-6uiqa3');
  src:url('../../styles/fonts/icomoon.eot?#iefix-6uiqa3') format('embedded-opentype'),
    url('../../styles/fonts/icomoon.ttf?-6uiqa3') format('truetype'),
    url('../../styles/fonts/icomoon.woff?-6uiqa3') format('woff'),
    url('../../styles/fonts/icomoon.svg?-6uiqa3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home {
  composes: icon;
}
.home:before {
  content: "\e602";
}

.twitter {
  composes: icon;
}
.twitter:before {
  content: "\e601";
}

.github {
  composes: icon;
}
.github:before {
  content: "\e600";
}
